section#footer.footer-wrapper
			.navbar-bottom.row-fluid
				.navbar-inner
					.container-fuild
						.content_footer
							| Made with
							a.heart(href='http://programming.kr.ua/')
								i.fa.fa-heart(aria-hidden='true')
							| by HolaTeam